<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>war2zone</string>
	<key>CFBundleExecutable</key>
	<string>war2zone</string>
	<key>CFBundleIconFile</key>
	<string>generated-43b360c42ce4367cff0b09fc1cf2bc651de465e4f8289284db87dad973f413e8.icns</string>
	<key>CFBundleIdentifier</key>
	<string>war2zone</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>war2zone</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
